* {box-sizing: border-box}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  overflow: hidden;
  background: #1F1F1F;
}

.tabs {
    position: fixed;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    height: 33px;
    background: #353535;
    cursor: default;
    z-index: 10;
}
button.tablink:hover {
    background: rgba(31, 31, 31, 0.8);
    transition: background 0.3s;
}
button.tablink {
    background: transparent;
    color: white;
    border: none;
    padding: 6.9px 20px;
    border-radius: 7px 7px 0px 0px;
    margin-top: 4px;
    transition: background 0.3s;
}
button.tablink:focus {
    outline: none; /* Get of a rid of ugly yellow border when selecting a tab */
}

.tabs::before {
    content: "";
    position: fixed;
    top: 33px;
    left: 0px;
    width: -webkit-fill-available;
    background: #1F1F1F;
    height: 4px;
    z-index: 5;
}

webview {
  z-index: 2;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: -webkit-fill-available;
    height: calc(100% - 37px);
}

.splashy h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splashy {
    position: fixed;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: #6769E0;
    z-index: 10;
    color: white;
    opacity: 0;
    cursor: default;
    animation: 1.73s splashy ease;
    pointer-events: none;
}

@keyframes splashy {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#Client {background-color: #415CF3;}
#ControlPanel {background-color: #6769E0;}
#Status {background-color: #57B470 !important;}
#About {background-color: #6769E0;}

button#Primary {
  margin-left: 8px;
}

.inBody {
  position: absolute;
  top: 37px;
  left: 0px;
  width: -webkit-fill-available;
  background: #1F1F1F;
  color: white;
  height: -webkit-fill-available;
  z-index: 2;
}

a#UpdateButton {
  background: #585858;
  width: fit-content;
  padding: 6px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 0px -6px 0px 10px;
}

.leftSide {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0px, -50%);
  width: 50%;
  padding: 0px 100px;
  cursor: default;
}
.rightSide {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(0px, -50%);
  width: 50%;
  display: inline-grid;
}

p#version {
  background: #353535;
  width: fit-content;
  padding: 6px;
  border-radius: 5px;
}

.rightSide a {
  color: black;
  background: white;
  width: 380px;
  text-align: center;
  padding: 15px 0px;
  margin: 5px 0px;
  border-radius: 5px;
  text-decoration: none;
}
