.tab_area {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100%;
}
.tabs {
    margin: 33px 20px 0px 20px;
    display: grid;
    grid-gap: 10px;
}
.tabs button {
    background: transparent;
    color: white;
    text-align: left;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
}
.bottom_a {
    margin: 33px 20px 0px 20px;
    position: absolute;
    bottom: 33px;
}
.bottom_a button {
    background: transparent;
    color: white;
    text-align: left;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
}.bottom_a button {
    margin-top: 10px;
}
.bottom_a button {width: -webkit-fill-available;}

.content {
    position: fixed;
    top: 0px;
    left: 250px;
    width: calc(100% - 250px);
    height: 100%;
}

.notify button {
    background: var(--bg-accent-two);
    width: 100%;
}

span#selection_s_sidebar {
    background: var(--accent);
    padding: 2.5px 10px;
    border-radius: 50px;
    position: absolute;
    margin-left: -180px;
    height: 15px;
    margin-top: 10px;
}

.selection_s_sidebar {
    background: #18283c !important;
}

.new_window_options {
    background: var(--accent);
    border-radius: 10px;
    padding: 50px 0px 15px 0px;
    margin: -51px 0px 0px 0px;
    z-index: 1;
}
.new_window_options a {
    color: white;
    text-decoration: none;
}
.new_window_options a:hover {
    opacity: 0.5;
}
.new_window_options::before {
    content: "";
    position: absolute;
    background: white;
    width: 190px;
    height: 87px;
    margin: 0px 10px;
    border-radius: 10px;
    opacity: 0.2;
    pointer-events: none;
    z-index: -1;
}










div#controls {
    position: fixed;
    top: 131px;
    left: 20px;
    background: transparent;
    width: 210px;
    border-radius: 10px;
    height: 38px;
}
button#back {
    position: absolute;
    left: 83px;
    top: 50%;
    transform: translate(0px, -50%);
    border: none;
    color: white;
    background: transparent;
    border-radius: 10px;
    padding: 8px;
}
button#forward {
    position: absolute;
    left: 113px;
    top: 50%;
    transform: translate(0px, -50%);
    border: none;
    color: white;
    background: transparent;
    border-radius: 10px;
    padding: 8px;
}
button#reload {
    position: absolute;
    left: 140px;
    top: 50%;
    transform: translate(0px, -50%);
    border: none;
    color: white;
    background: transparent;
    border-radius: 10px;
    padding: 8px;
}
button#home {
    position: absolute;
    left: 168px;
    top: 50%;
    transform: translate(0px, -50%);
    border: none;
    color: white;
    background: transparent;
    border-radius: 10px;
    padding: 8px;
    font-size: 14px;
}
button#viewAddress {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translate(0px, -50%);
    border: none;
    color: white;
    background: transparent;
    border-radius: 10px;
    padding: 8px 12px;
    display: none;
}

input[type="submit"] {
    display: none;
}

input#location {
    display: none;
}

div#controls i.fas.fa-server {
    margin: 12px 20px;
}
div#controls button:hover {
    background: var(--bg-accent-one);
}


.sbo_10, .sbo_20, .sbo_30, .sbo_40, .sbo_50, .sbo_60, .sbo_70, .sbo_80, .sbo_90 {
    color: white;
    width: 197px !important;
    height: 60px !important;
    text-align: left;
    font-weight: bold;
    padding: 0px 0px 0px 20px;
    margin-bottom: 10px;
}

.sbo_10::before, .sbo_20::before, .sbo_30::before, .sbo_40::before, .sbo_50::before, .sbo_60::before, .sbo_70::before, .sbo_80::before, .sbo_90::before {
    content: "";
    background: url(https://images.unsplash.com/photo-1620037721441-f3142537a7a8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    width: 123px;
    height: 52px;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: -19px 0px 0px 46px;
    border-radius: 0px 4px 4px 0px;
}
.sbo_10::before {opacity: 0.9} .sbo_20::before {opacity: 0.8} .sbo_30::before {opacity: 0.7} .sbo_40::before {opacity: 0.6} .sbo_50::before {opacity: 0.5} .sbo_60::before {opacity: 0.4} .sbo_70::before {opacity: 0.3} .sbo_80::before {opacity: 0.2} .sbo_90::before {opacity: 0.1}


i.fas.fa-slash {
    opacity: 0.32;
    pointer-events: none;
}
button#viewAddress, button#viewAddress-fake {
    pointer-events: none;
}


button#gp_tab p {
    position: absolute;
    margin: -14px 0px 0px 28px;
}