body {
    background: #353535 !important;
    color: white !important;
}

::-webkit-scrollbar {
  width: 1px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important 
}
 
::-webkit-scrollbar-thumb {
  background: #6a5edc !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b5edc7a !important;
}

.main-panel {
    background: #353535 !important;
}
.navbar.navbar-transparent {
    background-color: transparent !important;
    box-shadow: none !important;
    border-bottom: none !important;
}
.navbar.navbar-transparent a:not(.dropdown-item):not(.btn) {
    color: white !important;
}
.sidebar[data-color="white"]:after, .off-canvas-sidebar[data-color="white"]:after {
    background: #1F1F1F !important;
}
ul.nav li a {
    color: white !important;
    opacity: 1 !important;
}
.card.card-user {
    background: transparent !important;
    box-shadow: none !important;
}
.card-user .avatar {
    width: 124px !important;
    height: 124px !important;
    border: 5px solid #353535 !important;
    position: relative !important;
}
.author h5 {
    color: white !important;
}
.alert.alert-primary {
    display: none !important;
}
.card.card-stats {
    background: #1f1f1f !important;
    color: white !important;
}
.card {
    background-color: #1f1f1f !important;
    color: white !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border: none !important;
}
.table-wrapper-scroll-y.servers-list-scrollbar {
    overflow: hidden !important;
    height: max-content !important;
}
td {
    color: white !important;
}

.table .btn {
    margin: 3px !important;
}
button.btn.btn-info.btn-sm {
    width: 170px !important;
}

.modal-content {
    background: #232323 !important;
    border: none !important;
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 350px !important;
    height: max-content !important;
}
.modal-header {
    border: none !important;
}
.modal-footer {
    border: none !important;
}
.modal-open .modal {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    backdrop-filter: blur(10px) brightness(0.7) !important;
}

.sidebar, .off-canvas-sidebar {
    border: none !important;
}
.card.card-stats {
    height: 170px !important;
}
