.main-footer {
    display: none !important
}

.content-wrapper {
    min-height: auto !important
}

body {
    background: #353535 !important;
    color: #fff !important
}

.content-wrapper {
    background: #353535 !important
}

.box {
    background: #1f1f1f !important;
    border-radius: 7px !important;
    border: none !important
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: none !important
}

.table-hover>tbody>tr:hover {
    background-color: #2b2b2b !important
}

.skin-blue .left-side,
.skin-blue .main-sidebar,
.skin-blue .wrapper {
    background-color: #1f1f1f !important
}

.skin-blue .sidebar-menu>li.header {
    color: #fff !important;
    background: #1f1f1f !important
}

input.form-control.pull-right {
    background: #353535 !important;
    border: none !important;
    color: #fff !important
}

button.btn.btn-default {
    background: #353535 !important;
    border: none !important;
    color: #fff !important
}

h3.box-title {
    color: #fff !important
}

.box-footer.text-center {
    background: #1f1f1f !important;
    border: none !important;
    border-radius: 7px !important
}

.box-header.with-border {
    border-bottom: none !important
}

.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #1f1f1f !important
}

.skin-blue .sidebar-menu>li.active>a,
.skin-blue .sidebar-menu>li.menu-open>a,
.skin-blue .sidebar-menu>li:hover>a {
    color: #fff !important;
    background: #353535 !important
}

.skin-blue .main-header .navbar {
    background-color: #1f1f1f !important
}

.skin-blue .main-header .logo {
    background-color: #1f1f1f !important;
    color: #fff !important;
    border-bottom: 0 solid transparent !important
}

.skin-blue .sidebar-menu .treeview-menu>li>a {
    color: #fff !important
}

.skin-blue .sidebar-menu>li>.treeview-menu {
    background: rgba(53, 53, 53, .5) !important
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #353535 !important;
    border: none !important;
    opacity: 1 !important;
    border-radius: 7px !important
}

.box-footer {
    background: #1f1f1f !important;
    border: none !important;
    border-radius: 7px !important
}

.btn-default {
    background-color: #0975b8 !important;
    color: #fff !important;
    border-color: transparent !important;
    border: none !important
}

code {
    background: #353535 !important;
    color: #fff !important;
    border-radius: 3px !important
}

.table>thead>tr>th {
    border-bottom: none !important
}

.table>tbody>tr.warning>td,
.table>tbody>tr.warning>th,
.table>tbody>tr>td.warning,
.table>tbody>tr>th.warning,
.table>tfoot>tr.warning>td,
.table>tfoot>tr.warning>th,
.table>tfoot>tr>td.warning,
.table>tfoot>tr>th.warning,
.table>thead>tr.warning>td,
.table>thead>tr.warning>th,
.table>thead>tr>td.warning,
.table>thead>tr>th.warning {
    background-color: #353535 !important
}

.box .overlay,
.overlay-wrapper .overlay {
    z-index: 50 !important;
    background: rgba(31, 31, 31, .5) !important;
    backdrop-filter: blur(10px) !important;
    border-radius: 7px !important
}

.content-header>.breadcrumb>li>a {
    color: #eef1f6 !important;
    text-decoration: none !important;
    display: inline-block !important
}

::-webkit-scrollbar {
    width: 0 !important
}

input.form-control {
    border: none !important;
    border-radius: 7px !important;
}

select#language {
    background: #353535 !important;
    border: none !important;
    border-radius: 7px !important;
    color: #fff !important
}

.alert-danger {
    color: #fff !important;
    background: rgba(214, 66, 66, .75) !important;
    border: none !important;
    backdrop-filter: blur(10px) !important;
    border-radius: 7px !important
}

.alert .close {
    color: #fff !important;
    opacity: 1 !important
}

div#editor {
    background: #1f1f1f;
    color: white;
}
.ace_gutter {
    background: #1f1f1f !important;
    color: white !important;
}
.ace-chrome .ace_string {
    color: #c5c5c5;
}

.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
    background-color: #232323;
}

ul#fileOptionMenu {
    background: rgb(51 51 51 / 78%);
    color: white !important;
    backdrop-filter: blur(10px) brightness(2);
    border: none;
    border-radius: 10px;
}
.dropdown-menu>li>a:hover {
    background-color: #545454;
    color: white;
}
.dropdown-menu>li>a {
    color: white;
}


span.logo-mini::before {
    background-image: url(https://raw.githubusercontent.com/FalixNodes-Software/Desktop-App/master/Icon.png);
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    background-color: #1f1f1f;
}

input[type="text"] {
    color: white;
    background: #353535;
}
input.form-control {
    color: white;
    background: #353535;
}


.bg-danger {
    background-color: transparent;
    margin: 0px 0px;
}

li.divider {
    display: none;
}

li[data-action="file"], li[data-action="folder"] {
    background: #4c4c4c;
}

.table-hover>tbody>tr.active:hover>td, .table-hover>tbody>tr.active:hover>th, .table-hover>tbody>tr:hover>.active, .table-hover>tbody>tr>td.active:hover, .table-hover>tbody>tr>th.active:hover {
    background-color: transparent;
}

button.btn.btn-default {
    border-radius: 7px !important;
    margin-left: 10px !important;
}

ins.adsbygoogle {
    margin-bottom: 20px;
}

.ace-chrome .ace_string {
    color: #6d6dff;
}

.ace-chrome .ace_storage, .ace-chrome .ace_keyword, .ace-chrome .ace_meta.ace_tag {
    color: rgb(210 18 182);
}



::-webkit-scrollbar {
    width: 5px !important;
}
::-webkit-scrollbar-thumb {
    background: #8b8b8b;
    border-radius: 2px;
}