* {box-sizing: border-box}








/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6a5edc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b5edc7a;
}








body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background: #1F1F1F;
  color: white;
}

a {
    color: white;
    text-decoration: none;
    background: #353535;
    padding: 10px 20px;
    border-radius: 7px;
}
.content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30px);
    text-align: center;
}

iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border: none;
  filter: brightness(0.5);
}