* {box-sizing: border-box}








/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6a5edc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b5edc7a;
}



body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background: #1F1F1F;
  color: white;
}

.tabs {
    position: fixed;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    height: 33px;
    background: #353535;
    cursor: default;
    z-index: 10;
}
button.tablink:hover {
    background: rgba(31, 31, 31, 0.8);
    transition: background 0.3s;
}
button.tablink {
    background: transparent;
    color: white;
    border: none;
    padding: 6.9px 20px;
    border-radius: 5px 5px 0px 0px;
    margin-top: 4px;
    transition: background 0.3s;
}
button.tablink:focus {
    outline: none; /* Get of a rid of ugly yellow border when selecting a tab */
}

.tabs::before {
    content: "";
    position: fixed;
    top: 33px;
    left: 0px;
    width: -webkit-fill-available;
    background: #1F1F1F;
    height: 4px;
    z-index: 5;
}

webview {
  z-index: 2;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: -webkit-fill-available;
    height: calc(100% - 37px);
}

.splashy h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splashy {
    position: fixed;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: #6769E0;
    z-index: 10;
    color: white;
    opacity: 0;
    cursor: default;
    animation: 1.73s splashy ease;
    pointer-events: none;
}

@keyframes splashy {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

button#defaultOpen {
  margin-left: 8px;
}

.inBody {
  position: absolute;
  top: 37px;
  left: 0px;
  width: -webkit-fill-available;
  background: #1F1F1F;
  color: white;
  height: -webkit-fill-available;
  z-index: 2;
}

a#UpdateButton {
  background: #585858;
  width: fit-content;
  padding: 6px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 0px -6px 0px 10px;
}

.leftSide {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0px, -50%);
  width: 50%;
  padding: 0px 100px;
  cursor: default;
}
.rightSide {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50%;
  height: 100%;
}

p#version {
  background: #6B5FDC;
  width: fit-content;
  padding: 8px 13px;
  border-radius: 5px;
  font-weight: bold;
}

div#Status webview {
  filter: hue-rotate(-215deg) invert(1);
  top: -73px;
  height: calc(100% - -73px);
}

.frontPageLinks {
  display: grid;
}
.frontPageLinks a {
  color: #6B5FDC;
  margin-bottom: 10px;
}

.tabsRight {
  text-align: right;
  position: absolute;
  right: 10px;
  top: 2px;
}

.look .lookContent p {
  font-size: 13px;
  margin-bottom: -13px;
}
.look {
  position: absolute;
  right: 10px;
  top: 5px;
  background: #6B5FDC;
  border-radius: 7px;
  padding: 0px 10px 25px 10px;
  font-size: 10px;
  pointer-events: none;
  animation: 1s look ease;
}

@keyframes look {
  0% {
    top: -200px;
  }
  50% {
    top: -200px;
  }
  100% {
    top: 5px;
  }
}

.changelog {
  position: fixed;
  top: 38px;
  right: 0px;
  color: white;
  overflow: scroll;
  width: calc(100% - 100px);
  height: calc(100% - 21px);
}

.changelog::-webkit-scrollbar-thumb {
  background: #484848;
}

.changelog::-webkit-scrollbar {
  border: none;
  width: 7px;
  outline: transparent;
  background: transparent;
}

.spin {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, .3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes splash {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.splash .splashContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.splash {
  display: none;
  position: fixed;
  z-index: 50;
  background: rgb(107 95 220 / 0.75);
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  color: white;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(10px);
  animation: 7.2s splash ease;
}

webview#video-tutorial {
  position: absolute;
  top: 37px;
  left: 0px;
  width: -webkit-fill-available;
  height: calc(100% - 37px);
  z-index: 5;
}

.contentNoL button {
  background: #353535;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
.contentNoL {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.contentNoL button:hover {
  cursor: pointer;
  opacity: 0.55;
}

.video {
  padding: 10px 0px 10px 100px;
}
video {
  border-radius: 7px;
  box-shadow: 0px 5px 8px 0px rgb(0 0 0 / 34%);
}

.new img {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

div#dialog1 {
  border-radius: 7px;
  padding: 0px;
  text-align: center;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
}
button.no {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50px;
  border: none;
  width: 23px;
  height: 23px;
  font-family: unset;
  font-weight: bold;
  color: white;
  background: #1f1f1f;
  cursor: pointer;
}
button.no:hover::before {
  content: "Don't show again";
  position: absolute;
  width: max-content;
  left: -50px;
  top: -30px;
  background: black;
  padding: 4px 10px;
  border-radius: 5px;
  font-weight: 100;
}

div#VPS::before {
  content: "";
  position: fixed;
  top: 33px;
  left: 0px;
  width: -webkit-fill-available;
  background: #000000;
  height: 4px;
  z-index: 20;
}
div#About::before {
  content: "";
  position: fixed;
  top: 33px;
  left: 0px;
  width: -webkit-fill-available;
  background: #6B54DA;
  height: 4px;
  z-index: 20;
}

.settings {
  position: absolute;
  top: 37px;
  left: 0px;
  width: -webkit-fill-available;
  background: #1F1F1F;
  color: white;
  height: -webkit-fill-available;
  z-index: 2;
  padding: 70px;
}

a#modes {
  background: #6b54da;
  color: white;
  font-weight: bold;
  padding: 17px 21px;
  border-radius: 10px;
  text-decoration: none;
}

.splashiOS {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgb(107 84 218 / 0.75);
  backdrop-filter: blur(5px);
  z-index: 10;
  -webkit-backdrop-filter: blur(10px);
  animation: 3s splash ease;
  opacity: 0;
  pointer-events: none;
}
.splashiOS img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}
i.fa.fa-circle-o-notch {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  animation: 1s loading-circle infinite;
}

@keyframes loading-circle {
  from {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes splash {
  0% {
      opacity: 1;
      pointer-events: all;
  }
  90% {
      opacity: 1;
      pointer-events: all;
  }
  100% {
      opacity: 0;
      pointer-events: all;
  }
}



.warning2 h1 {
  background: #ff6464;
  position: absolute;
  margin-top: -15px;
  margin-left: -17px;
  padding: 3px 12px 3px 17px;
  width: calc(100% - 0px);
  border-radius: 10px 10px 0px 0px;
  font-size: 13px;
}
.warning2 {
  background: red;
  position: fixed;
  top: 70px;
  right: 25px;
  border-radius: 10px;
  font-size: 12px;
  width: 290px;
  padding: 4px 17px;
  pointer-events: none;
  height: 70px;
}

input:checked {
  border-radius: 50px !important;
}



button#toggles:hover {
  background: #303030;
  cursor: pointer;
}
button#toggles {
  background: #424242;
  height: 14px;
  width: 14px;
  border-radius: 50px;
  border: none;
  margin-right: 10px;
}
button#toggles:focus {
  outline: none;
}







.didyouknow webview {
  height: 40px;
  width: 500px;
}
.didyouknow h1 {
  font-size: 14px;
  border-bottom: 1px #5a5a5a solid;
  margin-top: -70px;
}
.didyouknow {
  position: absolute;
  top: 50%;
  margin-top: 34px;
}