/** Linux *
div#window-controls {
  display: none;
}
.dropbtn, div#myDropdown {
  right: 0px !important;
}
*/


@media (prefers-color-scheme: light) {
  :root {
    --app-bg: #6e5ed8;
    --p: white;

    --tabs-bg: #333333;
    --tab-bg: #474747;

    --titlebar-buttons: white;
    --titlebar-img: brightness(1);

    --tabs-bg-hover: rgba(23, 23, 23, 0.5);

    --tabs-color: white;
    --a: #6e5ed8;
    --content-bg: rgb(23, 23, 23);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --app-bg: #6e5ed8;
    --p: white;

    --tabs-bg: #333333;
    --tab-bg: #474747;

    --titlebar-buttons: white;
    --titlebar-img: brightness(1);

    --tabs-bg-hover: rgba(23, 23, 23, 0.5);

    --tabs-color: white;
    --a: #6e5ed8;
    --content-bg: rgb(23, 23, 23);
  }
}

/* Junk *
body::before {
  content: "Beta";
  position: fixed;
  padding: 3px 20px;
  border-radius: 4px;
  top: 3px;
  left: 3px;
  z-index: 100;
  -webkit-app-region: drag;
}
/**/

/* Start of Changing CSS depending on window size */

@media only screen and (max-width:759px) {
  .Left {
    width: 70px !important;
  }
  .menu_sidebar button i {
    font-size: 16px;
  }
  .menu_sidebar button {
    font-size: 0px;
  }
  .menu_sidebar button {
      padding: 15px 0px 15px 26px !important;
  }
  div#dash h1 {
    display: none;
  } 
  .right {
    width: calc(100% - 110px) !important;
  }
  webview#news {
    top: 21px !important;
    height: calc(100% - 39px) !important;
  }
  p#version {
    padding: 8px 13px !important;
    border-radius: 0px !important;
    position: absolute !important;
    top: 0px !important;
    left: -30px !important;
  }
  .message {
    position: fixed;
    left: 0px !important;
    top: inherit !important;
    bottom: 0px !important;
    padding: 7.4px 30px !important;
    transition: transform .25s;
    pointer-events: none;
    width: 100%;
    text-align: center;
  }
}


/* end of window size css thingie */

* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--app-bg);
  color: #FFF;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

a {
  color: var(--a);
}

ui {
  color: var(--p);
}

p {
  color: var(--p);
}

h1 {
  color: var(--p);
}

h2 {
  color: var(--p);
}

h3 {
  color: var(--p);
}

/* - - - Offline Status */

.message {
  position: fixed;
  left: inherit;
  top: 0;
  right: 186px;
  padding: 1.5em;
  transition: transform .25s;
  pointer-events: none;
}

#offline {
  background: #E91E63;
  color: white;
  z-index: 100;
  padding: 6px 16px;
  font-size: 16px;
  opacity: 0;
}

#online {
  background: #4CAF50;
  color: white;
  z-index: 100;
  padding: 6px 16px;
  font-size: 16px;
  opacity: 0;
}

body.slow #slow,
body.offline #offline,
body.online #online {
  opacity: 1;
}

@keyframes pulse {
  0% { background-color: #f1f1f1; }
  100% { background-color: silver; }
}

/****/

p#coinOpened {
  background: #4CAF50;
  color: white;
  z-index: 100;
  padding: 6px 16px;
  font-size: 16px;
  opacity: 0;
  animation: 5s openThenFadeOut linear;
  position: fixed;
  right: 186px;
}

/* - - - Titlebar */
#titlebar {
  display: block;
  position: fixed;
  height: 33px;
  width: calc(100% - 2px);
  background: var(--tabs-bg);
}

.maximized #titlebar {
  width: 100%;
  padding: 0;
}

#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 20px;
  overflow-y: auto;
}

#titlebar {
  padding: 4px;
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

#titlebar {
  color: #FFF;
}

#titlebar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
}

.maximized #window-title {
  margin-left: 12px;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1000;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

#window-controls .button {
  user-select: none;
}

#window-controls .button:hover {
  background: rgba(255,255,255,0.1);
}

#window-controls .button:active {
  background: rgba(255,255,255,0.2);
}

#close-button:hover {
  background: #E81123 !important;
}

#close-button:active {
  background: #F1707A !important;
}
#close-button:active .icon {
  filter: invert(1);
}

#min-button {
  grid-column: 1;
}
#max-button, #restore-button {
  grid-column: 2;
}
#close-button {
  grid-column: 3;
}

#restore-button {
  display: none !important;
}

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}

div#window-controls img {
  filter: var(--titlebar-img);
}

span#version {
  position: fixed;
  background: var(--tabs-bg);
  color: white;
  font-weight: bold;
  top: 0px;
  left: 0px;
  width: calc(100% - 200px);
  padding: 6px 6px 27px 16px;
  z-index: -1;
  animation: 2s splash_version ease;
  font-family: arial;
}
div#messages {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 5;
  animation: 5s openThenFadeOut linear;
}

/* End of Titlebar - - - */

/* - - - for Dropdown Menus */
div#myDropdown {
  position: fixed;
  top: 33px;
  z-index: 500;
  right: 140px;
}
button.dropbtn:focus {
  outline: none;
}
div#myDropdown i {
  margin: -8px 10px -20px -16px;
  padding: 10px 10px 10px 10px;
  width: 40px;
  background: rgba(103, 103, 103, 0.25);
  text-align: center;
}
.dropbtn {
  color: var(--titlebar-buttons);
  font-size: 16px;
  border: none;
  width: 46px;
  height: 33px;
  position: fixed;
  z-index: 105;
  background: transparent;
  top: 0px;
  right: 140px;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

.dropbtn:hover, .dropbtn:focus {
  background: rgba(255,255,255,0.1);
  cursor: default;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #252525;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background: rgb(32,32,32);
  cursor: default;
}
.dropdown-content a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  cursor: default;
}

div#seperator {
  background: rgba(255, 255, 255, 0.1);
  height: 0.1px;
  width: 100%;
  margin: 1px 0px;
}

.show {display: block;}

/* End of Dropdown - - - */

/* - - - Splash */
.splashScreen {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: -webkit-fill-available;
  height: calc(100% - 33px);
  background: rgba(110, 94, 216, 0.75);
  backdrop-filter: blur(2px);
  opacity: 1;
  animation: 2s splash ease;
  z-index: -1; /* Move Splash behind everything */
}
i.fas.fa-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 100;
  font-size: 50px;
  animation: 2s spin infinite linear;
}
.splashScreen img {
  animation: 0.5s splash_img ease;
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  opacity: 0;
}
.splashScreen img::before {
  animation: 0.5s splash_bg linear;
  content: "";
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(110, 94, 216, 1);
  z-index: -1;
}
/* End of Splash - - - */

/* - - - Animations (@keyframes) */
@keyframes splash {
    0% {
        opacity: 1;
        background: rgba(110, 94, 216, 1);
        z-index: 100;
    }
    30% {
        background: rgba(110, 94, 216, 1);
    }
    35% {
        background: rgba(110, 94, 216, 0.75);
    }
    90% {
        opacity: 1;
        background: rgba(110, 94, 216, 0.75);
        z-index: 100;
    }
    100% {
        opacity: 0;
        background: rgba(110, 94, 216, 0.75);
        z-index: 100;
    }
}

@keyframes splash_img {
  0% {
      opacity: 1;
      z-index: 220;
  }
  99% {
      opacity: 1;
      z-index: 220;
  }
  100% {
      opacity: 0;
      z-index: 220;
  }
}

@keyframes splash_bg {
  0% {
    background: rgba(110, 94, 216, 1);
    z-index: 100;
  }
  99% {
    background: rgba(110, 94, 216, 1);
    z-index: 100;
  }
  100% {
    background: rgba(110, 94, 216, 0.75);
    z-index: 100;
  }
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes splash_version {
  0% {
    opacity: 1;
    z-index: 100;
  }
  90% {
    opacity: 1;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: 100;
  }
}

@keyframes fadeOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes openThenFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* End of Animations - - - */

/* - - - Tabs */
.tabs {
    background: var(--tabs-bg);
    position: fixed;
    top: 0px;
    left: 7px;
    height: 33px;
    width: 100%;
    -webkit-app-region: drag;
}
.tabs button {
    color: var(--titlebar-buttons);
    background: #5f5f5f;
    padding: 6px 20px;
    margin-top: 6px;
    border: none;
    border-radius: 5px 5px 0px 0px;
    margin-left: 10px;
    margin-right: -10px;
    -webkit-app-region: no-drag;
}
.tabs button:hover {
    background: var(--tabs-bg-hover);
}
.tabs button:focus {
    outline: none;
}
.tabs::after {
    content: "";
    background: var(--content-bg);
    position: fixed;
    top: 33px;
    left: 0px;
    width: 100%;
    height: 4px;
}
a#reloadButton {
  color: white;
  margin: 0px 9px 0px -17px;
  font-size: 10px;
}
a#reloadButton:hover {
  opacity: 0.5;
}
a#addPanel {
  color: white;
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 50px;
  background: #3e3e3e;
  margin-left: -22px;
}
a#addPanel:hover {
  background: #4e4e4e;
}

/* - - - Content (Under tabs) */
.content {
  background: var(--content-bg);
  position: absolute;
  top: 37px;
  height: inherit;
  width: -webkit-fill-available;
}
webview {
  position: fixed;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
webview#news {
  width: 100%;
  height: calc(100% - 94px);
  margin-top: -20px;
  margin-left: -14px;
  position: absolute;
  top: 77px;
  left: -26px;
}
.right h1 {
  margin-bottom: 24px;
  background: #333333;
  position: absolute;
  top: 0px;
  left: -40px;
  width: 120%;
  padding: 10px 0px 10px 47px;
}













.right a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background: #8a7edc;
  border-radius: 7px;
  padding: 10px 20px;
  cursor: pointer;
}
.Left {
  position: absolute;
  top: 0px;
  left: 0px;
  background: var(--tab-bg);
  width: 240px;
  height: 100%;
  padding: 60px 0px;
}
.right {
  position: absolute;
  background: transparent;
  right: 0px;
  top: 0px;
  height: 100%;
  width: calc(100% - 280px);
}
p#version {
  background: #6e5ed8;
  width: fit-content;
  padding: 6px 10px;
  border-radius: 7px;
}
.card {
  background: #4e4e4e;
  width: 800px;
  border-radius: 7px;
}
.card h1 {
  font-size: 20px;
  background: #404040;
  padding: 7px;
  border-radius: 7px 7px 0px 0px;
}
.card h2 {
  font-size: 10px;
  margin-left: 7px;
  margin-top: 8px;
}
.card p {
  padding: 7px;
}
.menu_sidebar button:hover {
  background: var(--tabs-bg-hover);
  cursor: pointer;
}
.menu_sidebar button:focus {
  outline: none;
}
.menu_sidebar button {
  background: var(--tabs-bg);
  color: var(--p);
  width: 100%;
  padding: 15px 0px 15px 37px;
  text-align: left;
}
.menu_sidebar {
  margin-top: 20px;
}
/* End of Content - - - */