:root {
    --sidebarOpacity: 0.4;
}
button#opacitySidebar40::after {
    content: "";
    width: 20px;
    background: white;
    height: 2px;
    position: absolute;
    margin: 28px 0px 0px -23px;
}