:root {
    --accent: #2970CC;
}

span#color_selected_default {
    background: #18273A;
    position: absolute;
    width: 155px;
    height: 40px;
    margin: 0px 0px 0px -159px;
    border-radius: 50px;
    z-index: -1;
}

button#set_layout img {
    filter: inherit;
}