* {box-sizing: border-box}
::-webkit-scrollbar-thumb{background-color:#6b6b6b!important}
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    background: #1F1F1F;
    right: 0px;
    position: absolute;
    width: calc(100% - 120px);
}

.tabs {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 200px;
    height: -webkit-fill-available;
    background: #353535;
    cursor: default;
    z-index: 10;
    display: inline-block;
}
button.tablink:hover {
    background: rgba(31, 31, 31, 0.8);
    transition: background 0.3s;
}
button.tablink {
  background: transparent;
  color: white;
  border: none;
  padding: 6.9px 20px;
  transition: background 0.3s;
  text-align: left;
  width: 100%;
  font-size: 16px;
}
button.tablink:focus {
    outline: none; /* Get of a rid of ugly yellow border when selecting a tab */
}

webview {
  z-index: 2;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: -webkit-fill-available;
    height: calc(100% - 37px);
}

.splashy h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splashy {
    position: fixed;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: #6769E0;
    z-index: 10;
    color: white;
    opacity: 0;
    cursor: default;
    animation: 1.73s splashy ease;
    pointer-events: none;
}

@keyframes splashy {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

button#Primary {
  margin-left: 8px;
}

button#verify {
  border: none;
  padding: 8px 10px;
  border-radius: 7px;
  color: white;
  background: linear-gradient(45deg, #61d87a, #7aa54f);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.37);
}
button#verify:active {
  outline: none;
}

.inBody {
    position: absolute;
    top: 7px;
    left: 0px;
    width: -webkit-fill-available;
    background: #1F1F1F;
    color: white;
    height: fit-content;
    z-index: 2;
}

.inBody p {
  width: calc(100% - 340px);
}

.leftSide {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0px, -50%);
  width: 50%;
  padding: 0px 100px;
}
.rightSide {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(0px, -50%);
  width: 50%;
  display: inline-grid;
}

p#version {
  background: #353535;
  width: fit-content;
  padding: 6px;
  border-radius: 5px;
  pointer-events: none;
}

.rightSide a {
  color: black;
  background: white;
  width: 380px;
  text-align: center;
  padding: 15px 0px;
  margin: 5px 0px;
  border-radius: 5px;
  text-decoration: none;
}

.rightSidebar {
    position: absolute;
    right: 50px;
    top: 10px;
    width: 250px;
}
.rightSidebar .box h1 {
    background: #3d3d3d;
    margin: -1px -20px 0px -20px;
    border-radius: 10px 10px 0px 0px;
    padding: 6px 20px;
    font-size: 26px;
}
.rightSidebar .box {
    background: #353535;
    padding: 1px 20px;
    border-radius: 10px;
}

.rightSidebar p {
  width: 100% !important;
}

a#buttonWithIcon img {
  position: absolute;
  margin-top: -8px;
  margin-left: -44px;
}
a#buttonWithIcon {
  background: black;
  border-radius: 10px;
  padding: 15px 20px 15px 60px;
  text-decoration: none;
  color: white;
}

.videoGrid iframe {
  margin-bottom: 15px;
}
.videoGrid {
  background: #2b2b2b;
  padding: 10px;
  display: inline-grid;
}